body {
  font-family: Arial;
  background: #f4f4f4;
}

.app {
  text-align: center;
  margin-top: 100px;
}

.quote-box {
  width: 500px;
  margin: auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.quote-box p {
  font-size: 20px;
  margin: 20px 0;
}

.quote-box h4 {
  color: gray;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}